@import url(https://fonts.googleapis.com/css?family=Roboto);

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
	background-color: #000;
	color: #fff;
	font-family: 'Roboto', Arial;
}

a {
	text-decoration: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  justify-content: center;
}

.columns {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.wide-item {
	text-align: center;
	font-size: 18px;
}

.narrow-item {
	width: 600px;
	margin: 20px;
	font-size: 18px;
}

.text-box {
	background-color: #222222;
	padding: 20px;
	border-radius: 20px;
	font-family: monospace;
}

.narrow-item img {
	margin: 0px;
	border-radius: 20px;
}

.narrow-item .text-box {
	margin: 0px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.separator {
	flex-grow: 1;
}

.scenechain {
    font-size: 48px;
	font-variant: small-caps;
	margin-left: 8px;
	margin-right: 8px;
}

.sc {
	font-variant: small-caps;
}

.navigation {
	font-size: 18px;
}

@media only screen and (max-width: 768px) {
	.navigation {
		font-size: 15px;
	}
}

a, .scene {
	color: #C48AFF;
}

footer {
	margin-top: 20px;
	font-size: 15px;
	color: #ccc;
	margin-bottom: 20px;
}

.content-separator {
	height: 20px;
}

.main-message {
	font-size: 32px;
	margin-top: 40px;
	margin-bottom: 10px;
}

.external-navigation {
	font-size: 18px;
	margin-top: 20px;
}

.whitepaper {
	margin-top: 20px;
	font-size: 18px;
}

.videos {
	margin-top: 40px;
}

.videos .video {
	margin-left: 30px;
	margin-right: 30px;
}
